= render "/users/sub_nav"

%h2 livres m'appartenant
%table.table
  %tr
    %th Image
    %th Titre
    %th Auteur
    %th
  - @owned_editions.each do |owned_edition|
    %tr
      %td= image_tag owned_edition.image_url unless owned_edition.image_url.nil?
      %td= owned_edition.book.title
      %td= owned_edition.book.author
      %td 
        - unless @user.read_editions.include? owned_edition
          = form_tag readings_path do
            = hidden_field_tag 'reading[read_edition_id]', "#{owned_edition.id}", :id => "reading_read_edition_id"
            = hidden_field_tag 'reading[reader_id]', "#{@user.id}", :id => "reading_reader_id"
            = submit_tag "Je l'ai lu"


= link_to 'Retour', user_path(@user)
