%p#notice= notice

%h2 livres lus
%table.table
  %tr
    %th Titre
    %th Auteur
    %th
  - @read_editions.each do |read_edition|
    %tr
      %td= read_edition.book.title
      %td= read_edition.book.author
      %td 
        - unless @user.editions.include? read_edition 
          = form_tag owned_edition_user_path(@user) do
            = hidden_field_tag 'owned_edition[edition_id]', "#{read_edition.id}", :id => "owned_edition_edition_id"
            = submit_tag "Je le possède"


= link_to 'Retour', user_path(@user)
