%h2 Recherche de livres
= form_tag(search_books_path, :method => "get") do 
  = text_field_tag(:q, @query) 
  = submit_tag("Rechercher") 

%h3 Résultats
%table
  %tr
    %th Image
    %th ISBN
    %th Titre
    %th Auteur
  - if user_signed_in?
    %th
  - @editions.each do |edition|
    %tr
      %td= image_tag(edition.image_url)
      %td= edition.isbn13.nil? ? edition.isbn10 : edition.isbn13
      %td= edition.book.title
      %td= edition.book.author
    - if user_signed_in?
      %td
        = form_tag readings_path
        =hidden_field_tag 'reading[read_book_id]', "#{edition.book.id}", :id => "reading_read_book_id"
        =hidden_field_tag 'reading[reader_id]', "#{current_user.id}", :id => "reading_reader_id"
        =submit_tag "Marquer ce livre comme lu"
 
