!!!
%html
  %head
    %title Bouquins
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %p.notice= notice
    %p.alert= alert
    %ul#menu
      = render 'devise/menu/login_menu'
      = render 'devise/menu/registration_menu'
    = yield
